.top_cover{
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top_cover_text{
  margin-top:10%;
  margin-right:180px;
}

.row{
  padding: 50px 0;
}
