body{
  font-size: 16px;
}

h2{
  margin-top:0px;
}

img{
  margin-bottom:25px;
}

/*h4{
  color:white;
}*/

p{
  font-size:18px;
}

footer{
  /*background-color: #232323;
  color:white;*/
  font-size:.75em;
}

.navbar-inverse{
  background-color:#203248;
  /*border-bottom-color: #182535;*/
  border-bottom:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: #182535;
}


.row{
  padding-top:20px;
  padding-bottom:20px;
}

.white{
  color:white;
}

.pad{
  min-height:100px;
}

.top_cover{
  background-attachment: fixed;
  background-size:cover;
  background-image:url(https://static.pexels.com/photos/7108/notebook-computer-chill-relax.jpg);
}

#top_cover_text{
  margin-top:26%;
}

.content_section{
  background-color:white;
  color:black;
}

.inverse_content_section{
  background-color:#203248;
  color:white;
}

.parallax-window {
    min-height: 700px;
    background: transparent;
}
