body { font-size: 16px; }
h2 { margin-top: 0; }
h3 { margin-top: 1.5em; }
img { margin-bottom: 3em; }
p { font-size: 1.1em; }
footer { font-size: .80em; }
hr { margin-bottom: 2em; }

.navbar-inverse {
  background-color:#203248;
  border-bottom:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #182535;
}

.row {
  padding: 3em 0;
}

.white {
  color:white;
}

.cover_image {
  background-attachment: fixed;
  background-size:cover;
  /*background-position:center;*/
  min-height: 30em;
  /*To center content vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top_cover {
  height:50em;
  margin-top: -7em;
}

#about_cover {
  background-position: right center;
}

#down_arrow {
  color:black;
  font-size:1.5em;
}

#jazz-photo {
  max-height: 25em;
}

#down_arrow:hover {
  color:blue;
}

.photo-caption {
  margin-top: -12em;
}

.inverse_section {
  background-color:#203248;
  color:white;
}

.text-primary {
  margin-top: 2em;
}

.btn {
  margin-top: 1em;
}

#linkedin_button, #github_button {
  margin-top: 8px;
  border-radius: 2px;
  margin-left: 15px;
}

/*Contact form stuff*/
td, th, tr {
  padding-right: 20px;
  margin-top: 10px;
}

#id_name, #id_phone, #id_email, #id_message {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.formbutton {
  margin-right: 5px;
  border-radius: 5px;
}

textarea {
    resize: none;
}

label {
  font-weight: 100;
}

h2 {
  font-weight: bold;
}

.resume-section h3 {
  font-weight: bold;
}

.resume-section p {
  color: #375c8c;
}

/*Media queries*/
@media (max-width: 900px)  {
  #about_cover {
    display: none;
  }
  #resume-download {
    display: none;
  }
  #jazz-photo {
    float: center;
  }
}
