body{
  font-size: 16px;
}

h2{
  margin-top:0px;
}

img{
  margin-bottom:25px;
}

p{
  font-size:18px;
}

footer{
  font-size:.75em;
}

.navbar-inverse{
  background-color:#203248;
  border-bottom:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: #182535;
}

.row{
  padding-top:20px;
  padding-bottom:20px;
}

.white{
  color:white;
}

.pad{
  min-height:100px;
}

.top_cover{
  background-attachment: fixed;
  background-size:cover;
  background-position:center;
  /*To center content vertically*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}

#top_cover_text{
  margin-top:26%;
}

.inverse_section{
  background-color:#203248;
  color:white;
}

.parallax-window {
  min-height: 700px;
  background: transparent;
}
