.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
  border-top:none;
  font-size:20px;
}

#link_down{
  margin-bottom:40px;
}

.top_cover{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top_cover_text{
  margin-top:2%;
}

.text-primary{
  margin-top:50px;
}

h3{
  margin-top:40px;
}
